<div *ngIf="character">
    <h2>{{character.characterName}}</h2>
    {{character.careerName}} appartenant à {{character.playerName}}


    <div *ngFor="let batr of character.baseAttr">
        <label>{{batr.name}} :</label> {{batr.value}} sur un maximum de {{batr.max}}
    </div>
    
    <my-character-skills [_edit]="_edit"  [character]="character"></my-character-skills>

    <my-character-spendable-points [character]="character"></my-character-spendable-points>

<button (click)="edit()">Edit</button>
</div>
<!--
<button (click)="seeJob()"> See job skills </button>-->