<h3> Creation</h3>

<p>Vous avez choisi de créer un personnage pour le jeu {{game.name}} ! Il ne vous reste qu'à entrer votre nom, le nom de votre personnage, et à répartir ses caractéristiques.</p>

   <input #characterName placeholder="character name" /><br/>
   <input #playerName placeholder="player name"/><br/>

    <select [(ngModel)]="career" (ngModelChange)="onChange($event)">
        <option *ngFor="let career of game.professions" [ngValue]="career">
            {{career.name}}
        </option>
   </select>
   <hr>

<table>
    <tr>
        <td>Base Attribute</td><td>Action</td>
    </tr>
    <tr *ngFor="let battr of game.BaseAttributes">
        <td>{{battr.name}}</td> <td *ngIf="!isRolled(battr)">  <button #{{battr.name}} (click)="onClickRoll(battr);" >Roll value</button> </td>
        <td *ngIf="isRolled(battr)">{{battr.value}}</td>
    <tr>        
</table>

    <button *ngIf="CharDTOBattr.length == 8" (click)="create(characterName.value,playerName.value,game); characterName.value='';playerName.value=''">Creer</button>


<hr>
<!--TODO : ADD A history.back or something -->
<!-- <button (click)="game_change()">Changer de jeu</button> -->