<h3>Bienvenue dans RPG helper</h3>

<div *ngIf="!selectedGame">
    
<p>Selectionnez le jeu pour lequel vous souhaitez créer un personnage! </p>

<select [(ngModel)]="selectedGame"  (ngModelChange)="onChange($event)"> 
    <option *ngFor="let game of games" [ngValue]="game" >
        {{game.name}}
    </option>
</select>



</div>

<div *ngIf="selectedGame">
    <button (click)="checkState()">Check current selected_game </button> |
    <button (click)="game_change()">Changer de jeu</button>

    <div *ngIf="selectedGame.name == 'Fallout' ">
        <fallout-creation [game]="selectedGame"></fallout-creation>
    </div>

    <div *ngIf="selectedGame.name == 'Call Of Cthulhu'">    
        <cthulhu-creation [game]="selectedGame"></cthulhu-creation>
    </div>
    
<!--<character-creation [game]="selectedGame"></character-creation>-->
</div>


