<h3> Creation </h3>

<p>Vous avez choisi de créer un personnage pour le jeu Fallout !
     Il ne vous reste qu'à entrer votre nom, le nom de votre personnage,
      et à répartir ses caractéristiques. Vous devez aussi choisir son métier bien sur.</p>

   <input #characterName placeholder="character name" /><br/>
   <input #playerName placeholder="player name"/><br/>

   <select [(ngModel)]="career" (ngModelChange)="onChange($event)">
        <option *ngFor="let career of game.professions" [ngValue]="career">
            {{career.name}}
        </option>
   </select>
   <hr>

<table class="table-bordered">
    <tr>
        <td>Base Attribute</td><td>Value</td><td>Actions</td><td>Validate</td>
    </tr>
    <tr *ngFor="let battr of game.BaseAttributes">
        <td>{{battr.name}}</td><td>{{battr.value}}</td><td><button (click)="AddOne(battr)">+</button><button (click)="RemoveOne(battr)">-</button></td><td><button (click)="validate(battr)">Validate</button></td>
    </tr>

</table>

<p id="remainingPoints">Remaining Points : 30</p>
<button (click)="create(characterName.value,playerName.value,game); characterName.value='';playerName.value=''">Creer</button> 



<hr>
<!--TODO : ADD A history.back or something -->
<!-- <button (click)="game_change()">Changer de jeu</button> -->